### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Read Data

In [2]:
data = pd.read_csv('titanicset.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Data Preprocessing

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
data.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

## Extract Feathers and Labels

In [7]:
x=data[["Pclass","Age","SibSp","Parch","Fare"]].fillna(1)

In [8]:
x.isnull().sum()

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [9]:
x

     Pclass   Age  SibSp  Parch     Fare
0         3  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         3  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         3  35.0      0      0   8.0500
..      ...   ...    ...    ...      ...
886       2  27.0      0      0  13.0000
887       1  19.0      0      0  30.0000
888       3   1.0      1      2  23.4500
889       1  26.0      0      0  30.0000
890       3  32.0      0      0   7.7500

[891 rows x 5 columns]

In [10]:
y=data[["Survived"]]

In [11]:
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

### One HotEncoding

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
one = OneHotEncoder(sparse = False)

In [14]:
one

OneHotEncoder(sparse=False)

In [15]:
X = one.fit_transform(x)

In [16]:
X

array([[0., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

## Standard Scaler

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
ss = StandardScaler()

In [19]:
S_data = ss.fit_transform(x)

In [20]:
data = pd.DataFrame(S_data)
data.head(5)

          0         1         2         3         4
0  0.827377 -0.115356  0.432793 -0.473674 -0.502445
1 -1.566107  0.808439  0.432793 -0.473674  0.786845
2  0.827377  0.115593 -0.474545 -0.473674 -0.488854
3 -1.566107  0.635227  0.432793 -0.473674  0.420730
4  0.827377  0.635227 -0.474545 -0.473674 -0.486337

In [21]:
x

     Pclass   Age  SibSp  Parch     Fare
0         3  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         3  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         3  35.0      0      0   8.0500
..      ...   ...    ...    ...      ...
886       2  27.0      0      0  13.0000
887       1  19.0      0      0  30.0000
888       3   1.0      1      2  23.4500
889       1  26.0      0      0  30.0000
890       3  32.0      0      0   7.7500

[891 rows x 5 columns]

## Splitting Data

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2, shuffle = True, random_state = 10)

In [24]:
shape = xtrain.iloc[0].shape
shape

(5,)

## Import Senquential and Dence

In [25]:
from keras.models import Sequential
from keras.layers import Dense

In [26]:
model = Sequential()

In [27]:
xtrain.shape

(712, 5)

In [28]:
ytrain.shape

(712, 1)

In [29]:
model.add(Dense(units = 8, activation = 'relu', input_dim = 5 ))
model.add(Dense(units = 6, activation = 'relu' ))
model.add(Dense(1, activation = 'sigmoid'))
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 48

 dense_1 (Dense)             (None, 6)                 54

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 109
Trainable params: 109
Non-trainable params: 0
_________________________________________________________________

In [30]:
history = model.fit(xtrain, ytrain, validation_split=0.2, epochs=100, verbose=1)

Epoch 1/100
18/18 [==============================] - 1s 27ms/step - loss: 1.2575 - accuracy: 0.5589 - val_loss: 1.2396 - val_accuracy: 0.5385
Epoch 2/100
18/18 [==============================] - 0s 4ms/step - loss: 0.9267 - accuracy: 0.5800 - val_loss: 0.9768 - val_accuracy: 0.5594
Epoch 3/100
18/18 [==============================] - 0s 4ms/step - loss: 0.7939 - accuracy: 0.5993 - val_loss: 0.8368 - val_accuracy: 0.5664
Epoch 4/100
18/18 [==============================] - 0s 4ms/step - loss: 0.7218 - accuracy: 0.6028 - val_loss: 0.7645 - val_accuracy: 0.5664
Epoch 5/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6889 - accuracy: 0.6028 - val_loss: 0.7205 - val_accuracy: 0.5664
Epoch 6/100
18/18 [==============================] - 0s 11ms/step - loss: 0.6683 - accuracy: 0.6028 - val_loss: 0.6971 - val_accuracy: 0.5664
Epoch 7/100
18/18 [==============================] - 0s 7ms/step - loss: 0.6578 - accuracy: 0.6046 - val_loss: 0.6823 - val_accuracy: 0.5664
Epoch 8/100
18/18 [==============================] - 0s 7ms/step - loss: 0.6512 - accuracy: 0.6028 - val_loss: 0.6736 - val_accuracy: 0.5734
Epoch 9/100
18/18 [==============================] - 0s 7ms/step - loss: 0.6454 - accuracy: 0.6011 - val_loss: 0.6668 - val_accuracy: 0.5804
Epoch 10/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6417 - accuracy: 0.6098 - val_loss: 0.6596 - val_accuracy: 0.6014
Epoch 11/100
18/18 [==============================] - 0s 6ms/step - loss: 0.6388 - accuracy: 0.6098 - val_loss: 0.6559 - val_accuracy: 0.6014
Epoch 12/100
18/18 [==============================] - 0s 6ms/step - loss: 0.6359 - accuracy: 0.6011 - val_loss: 0.6561 - val_accuracy: 0.5874
Epoch 13/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6347 - accuracy: 0.6415 - val_loss: 0.6533 - val_accuracy: 0.6224
Epoch 14/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6308 - accuracy: 0.6591 - val_loss: 0.6498 - val_accuracy: 0.6364
Epoch 15/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6297 - accuracy: 0.6661 - val_loss: 0.6477 - val_accuracy: 0.6294
Epoch 16/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6284 - accuracy: 0.6643 - val_loss: 0.6485 - val_accuracy: 0.6503
Epoch 17/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6263 - accuracy: 0.6573 - val_loss: 0.6456 - val_accuracy: 0.6573
Epoch 18/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6255 - accuracy: 0.6608 - val_loss: 0.6430 - val_accuracy: 0.6573
Epoch 19/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6236 - accuracy: 0.6626 - val_loss: 0.6422 - val_accuracy: 0.6503
Epoch 20/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6220 - accuracy: 0.6661 - val_loss: 0.6411 - val_accuracy: 0.6364
Epoch 21/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6210 - accuracy: 0.6696 - val_loss: 0.6408 - val_accuracy: 0.6503
Epoch 22/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6198 - accuracy: 0.6696 - val_loss: 0.6400 - val_accuracy: 0.6503
Epoch 23/100
18/18 [==============================] - 0s 6ms/step - loss: 0.6191 - accuracy: 0.6696 - val_loss: 0.6391 - val_accuracy: 0.6503
Epoch 24/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6181 - accuracy: 0.6696 - val_loss: 0.6373 - val_accuracy: 0.6503
Epoch 25/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6178 - accuracy: 0.6696 - val_loss: 0.6367 - val_accuracy: 0.6643
Epoch 26/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6169 - accuracy: 0.6731 - val_loss: 0.6376 - val_accuracy: 0.6503
Epoch 27/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6171 - accuracy: 0.6731 - val_loss: 0.6346 - val_accuracy: 0.6573
Epoch 28/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6162 - accuracy: 0.6731 - val_loss: 0.6377 - val_accuracy: 0.6434
Epoch 29/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6152 - accuracy: 0.6749 - val_loss: 0.6354 - val_accuracy: 0.6503
Epoch 30/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6162 - accuracy: 0.6731 - val_loss: 0.6339 - val_accuracy: 0.6643
Epoch 31/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6140 - accuracy: 0.6696 - val_loss: 0.6377 - val_accuracy: 0.6364
Epoch 32/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6138 - accuracy: 0.6784 - val_loss: 0.6377 - val_accuracy: 0.6434
Epoch 33/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6135 - accuracy: 0.6784 - val_loss: 0.6343 - val_accuracy: 0.6503
Epoch 34/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6138 - accuracy: 0.6784 - val_loss: 0.6308 - val_accuracy: 0.6573
Epoch 35/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6138 - accuracy: 0.6731 - val_loss: 0.6328 - val_accuracy: 0.6503
Epoch 36/100
18/18 [==============================] - 0s 7ms/step - loss: 0.6127 - accuracy: 0.6784 - val_loss: 0.6354 - val_accuracy: 0.6434
Epoch 37/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6130 - accuracy: 0.6837 - val_loss: 0.6329 - val_accuracy: 0.6503
Epoch 38/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6125 - accuracy: 0.6749 - val_loss: 0.6316 - val_accuracy: 0.6503
Epoch 39/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6131 - accuracy: 0.6801 - val_loss: 0.6348 - val_accuracy: 0.6434
Epoch 40/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6112 - accuracy: 0.6784 - val_loss: 0.6314 - val_accuracy: 0.6503
Epoch 41/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6101 - accuracy: 0.6819 - val_loss: 0.6330 - val_accuracy: 0.6364
Epoch 42/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6081 - accuracy: 0.6766 - val_loss: 0.6302 - val_accuracy: 0.6434
Epoch 43/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6080 - accuracy: 0.6749 - val_loss: 0.6307 - val_accuracy: 0.6434
Epoch 44/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6080 - accuracy: 0.6784 - val_loss: 0.6301 - val_accuracy: 0.6434
Epoch 45/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6090 - accuracy: 0.6766 - val_loss: 0.6311 - val_accuracy: 0.6434
Epoch 46/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6077 - accuracy: 0.6766 - val_loss: 0.6311 - val_accuracy: 0.6503
Epoch 47/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6069 - accuracy: 0.6749 - val_loss: 0.6309 - val_accuracy: 0.6503
Epoch 48/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6060 - accuracy: 0.6784 - val_loss: 0.6302 - val_accuracy: 0.6503
Epoch 49/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6065 - accuracy: 0.6801 - val_loss: 0.6291 - val_accuracy: 0.6503
Epoch 50/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6053 - accuracy: 0.6766 - val_loss: 0.6313 - val_accuracy: 0.6503
Epoch 51/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6059 - accuracy: 0.6837 - val_loss: 0.6322 - val_accuracy: 0.6434
Epoch 52/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6047 - accuracy: 0.6819 - val_loss: 0.6288 - val_accuracy: 0.6503
Epoch 53/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6042 - accuracy: 0.6784 - val_loss: 0.6279 - val_accuracy: 0.6503
Epoch 54/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6047 - accuracy: 0.6801 - val_loss: 0.6303 - val_accuracy: 0.6503
Epoch 55/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6030 - accuracy: 0.6784 - val_loss: 0.6286 - val_accuracy: 0.6503
Epoch 56/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6020 - accuracy: 0.6784 - val_loss: 0.6312 - val_accuracy: 0.6503
Epoch 57/100
18/18 [==============================] - 0s 6ms/step - loss: 0.6030 - accuracy: 0.6784 - val_loss: 0.6317 - val_accuracy: 0.6503
Epoch 58/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6015 - accuracy: 0.6784 - val_loss: 0.6306 - val_accuracy: 0.6503

Epoch 59/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6050 - accuracy: 0.6837 - val_loss: 0.6327 - val_accuracy: 0.6364
Epoch 60/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6047 - accuracy: 0.6837 - val_loss: 0.6276 - val_accuracy: 0.6503
Epoch 61/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6043 - accuracy: 0.6837 - val_loss: 0.6283 - val_accuracy: 0.6364
Epoch 62/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6040 - accuracy: 0.6819 - val_loss: 0.6286 - val_accuracy: 0.6364
Epoch 63/100
18/18 [==============================] - 0s 5ms/step - loss: 0.5998 - accuracy: 0.6784 - val_loss: 0.6314 - val_accuracy: 0.6503
Epoch 64/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6005 - accuracy: 0.6837 - val_loss: 0.6281 - val_accuracy: 0.6503
Epoch 65/100
18/18 [==============================] - 0s 5ms/step - loss: 0.5998 - accuracy: 0.6819 - val_loss: 0.6305 - val_accuracy: 0.6364
Epoch 66/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6005 - accuracy: 0.6837 - val_loss: 0.6292 - val_accuracy: 0.6503
Epoch 67/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6018 - accuracy: 0.6819 - val_loss: 0.6262 - val_accuracy: 0.6503
Epoch 68/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6001 - accuracy: 0.6801 - val_loss: 0.6294 - val_accuracy: 0.6364
Epoch 69/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6001 - accuracy: 0.6801 - val_loss: 0.6283 - val_accuracy: 0.6503
Epoch 70/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5989 - accuracy: 0.6854 - val_loss: 0.6276 - val_accuracy: 0.6503
Epoch 71/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5996 - accuracy: 0.6837 - val_loss: 0.6299 - val_accuracy: 0.6364
Epoch 72/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5976 - accuracy: 0.6784 - val_loss: 0.6261 - val_accuracy: 0.6434
Epoch 73/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5980 - accuracy: 0.6801 - val_loss: 0.6305 - val_accuracy: 0.6364
Epoch 74/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5989 - accuracy: 0.6801 - val_loss: 0.6298 - val_accuracy: 0.6434
Epoch 75/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5972 - accuracy: 0.6837 - val_loss: 0.6257 - val_accuracy: 0.6434
Epoch 76/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5977 - accuracy: 0.6837 - val_loss: 0.6278 - val_accuracy: 0.6434
Epoch 77/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5976 - accuracy: 0.6837 - val_loss: 0.6283 - val_accuracy: 0.6434
Epoch 78/100
18/18 [==============================] - 0s 5ms/step - loss: 0.6033 - accuracy: 0.6819 - val_loss: 0.6262 - val_accuracy: 0.6434
Epoch 79/100
18/18 [==============================] - 0s 7ms/step - loss: 0.5978 - accuracy: 0.6854 - val_loss: 0.6262 - val_accuracy: 0.6434
Epoch 80/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5973 - accuracy: 0.6889 - val_loss: 0.6291 - val_accuracy: 0.6434
Epoch 81/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5973 - accuracy: 0.6837 - val_loss: 0.6265 - val_accuracy: 0.6434
Epoch 82/100
18/18 [==============================] - 0s 5ms/step - loss: 0.5979 - accuracy: 0.6854 - val_loss: 0.6274 - val_accuracy: 0.6434
Epoch 83/100
18/18 [==============================] - 0s 5ms/step - loss: 0.5989 - accuracy: 0.6837 - val_loss: 0.6312 - val_accuracy: 0.6434
Epoch 84/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5971 - accuracy: 0.6872 - val_loss: 0.6282 - val_accuracy: 0.6503
Epoch 85/100
18/18 [==============================] - 0s 5ms/step - loss: 0.5977 - accuracy: 0.6819 - val_loss: 0.6289 - val_accuracy: 0.6434
Epoch 86/100
18/18 [==============================] - 0s 5ms/step - loss: 0.5969 - accuracy: 0.6854 - val_loss: 0.6295 - val_accuracy: 0.6434
Epoch 87/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5968 - accuracy: 0.6837 - val_loss: 0.6290 - val_accuracy: 0.6434
Epoch 88/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5967 - accuracy: 0.6889 - val_loss: 0.6273 - val_accuracy: 0.6503
Epoch 89/100
18/18 [==============================] - 0s 7ms/step - loss: 0.5956 - accuracy: 0.6889 - val_loss: 0.6263 - val_accuracy: 0.6434
Epoch 90/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5962 - accuracy: 0.6819 - val_loss: 0.6267 - val_accuracy: 0.6503
Epoch 91/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5954 - accuracy: 0.6872 - val_loss: 0.6299 - val_accuracy: 0.6503
Epoch 92/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5952 - accuracy: 0.6872 - val_loss: 0.6275 - val_accuracy: 0.6503
Epoch 93/100
18/18 [==============================] - 0s 7ms/step - loss: 0.5954 - accuracy: 0.6872 - val_loss: 0.6258 - val_accuracy: 0.6503
Epoch 94/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5982 - accuracy: 0.6837 - val_loss: 0.6291 - val_accuracy: 0.6503
Epoch 95/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5959 - accuracy: 0.6872 - val_loss: 0.6240 - val_accuracy: 0.6503
Epoch 96/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5946 - accuracy: 0.6854 - val_loss: 0.6293 - val_accuracy: 0.6503
Epoch 97/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5976 - accuracy: 0.6837 - val_loss: 0.6281 - val_accuracy: 0.6434
Epoch 98/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5961 - accuracy: 0.6907 - val_loss: 0.6304 - val_accuracy: 0.6503
Epoch 99/100
18/18 [==============================] - 0s 6ms/step - loss: 0.5952 - accuracy: 0.6907 - val_loss: 0.6254 - val_accuracy: 0.6503
Epoch 100/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5952 - accuracy: 0.6872 - val_loss: 0.6270 - val_accuracy: 0.6503

In [31]:
model.evaluate(xtest,ytest)

predictions = model.predict(xtest)
predictions

6/6 [==============================] - 0s 3ms/step - loss: 0.6490 - accuracy: 0.7486
6/6 [==============================] - 0s 2ms/step

array([[8.5809402e-02],
       [2.4052639e-01],
       [2.4752963e-01],
       [6.9715542e-01],
       [6.1991960e-01],
       [2.8467557e-01],
       [2.4990271e-01],
       [2.7391469e-01],
       [2.2456928e-01],
       [2.6835090e-01],
       [3.7842470e-01],
       [5.6422335e-01],
       [4.0316164e-01],
       [5.1743269e-01],
       [3.2066694e-01],
       [1.2219162e-03],
       [4.2521912e-01],
       [4.2521912e-01],
       [2.2807808e-01],
       [4.2521912e-01],
       [4.2521912e-01],
       [3.0981389e-01],
       [3.9314660e-01],
       [2.1405666e-01],
       [4.1021231e-01],
       [3.0290335e-01],
       [2.7951485e-01],
       [6.4861536e-01],
       [2.3158062e-01],
       [4.7574401e-01],
       [5.5696154e-01],
       [1.2219162e-03],
       [5.3791219e-01],
       [5.6921337e-02],
       [3.0976930e-01],
       [4.2521912e-01],
       [2.6872420e-01],
       [8.9206630e-01],
       [4.2521912e-01],
       [2.2405395e-01],
       [2.6576242e-01],
       [4.1071957e-01],
       [4.2521912e-01],
       [7.1600103e-04],
       [5.6566638e-01],
       [5.2174014e-01],
       [2.7231115e-01],
       [2.7406886e-01],
       [5.8502966e-01],
       [6.1576933e-01],
       [5.8373892e-01],
       [3.8539806e-01],
       [2.1540853e-01],
       [5.8836699e-01],
       [4.5888311e-01],
       [6.7073148e-01],
       [4.2521912e-01],
       [4.2521912e-01],
       [8.4000766e-01],
       [3.2254565e-01],
       [2.5091854e-01],
       [5.6436229e-01],
       [4.2521912e-01],
       [3.0432922e-01],
       [1.3963304e-02],
       [2.9518667e-01],
       [4.1668800e-01],
       [2.2702962e-01],
       [2.2213005e-01],
       [3.1960291e-01],
       [4.5636326e-01],
       [9.9453919e-02],
       [4.6532109e-06],
       [3.0865904e-03],
       [3.3519378e-01],
       [3.1824106e-01],
       [2.6256737e-01],
       [4.2521912e-01],
       [5.2056938e-01],
       [3.0840887e-02],
       [2.8988686e-01],
       [4.2521912e-01],
       [6.2248749e-01],
       [6.2391794e-01],
       [3.8051519e-01],
       [3.2317919e-01],
       [6.7959589e-01],
       [4.6853244e-01],
       [3.4742582e-01],
       [4.0444368e-01],
       [2.2307514e-01],
       [4.2521912e-01],
       [5.3381759e-01],
       [4.2521912e-01],
       [5.8234364e-01],
       [4.2521912e-01],
       [2.6928410e-01],
       [4.3700311e-01],
       [5.8237296e-01],
       [3.3778989e-01],
       [4.4284540e-01],
       [5.7860500e-01],
       [1.2641168e-01],
       [4.6547970e-01],
       [3.1139353e-01],
       [6.3837993e-01],
       [1.2219162e-03],
       [7.2034788e-01],
       [3.9660573e-01],
       [5.1767230e-01],
       [4.1021368e-01],
       [2.3274106e-01],
       [6.0612345e-01],
       [4.2521912e-01],
       [9.5112164e-06],
       [6.3380605e-01],
       [4.6668160e-01],
       [5.8420098e-01],
       [2.4707256e-01],
       [6.2103206e-01],
       [6.8977433e-01],
       [4.2521912e-01],
       [4.8340926e-01],
       [2.8540921e-01],
       [1.9306700e-01],
       [4.2521912e-01],
       [6.0872942e-01],
       [4.2521912e-01],
       [4.2521912e-01],
       [4.8907563e-01],
       [4.7669896e-01],
       [2.8553212e-01],
       [2.5780311e-01],
       [6.3005984e-01],
       [4.4270337e-01],
       [4.2521912e-01],
       [2.5075731e-01],
       [5.2417517e-01],
       [8.8436395e-01],
       [2.4331179e-02],
       [2.2154026e-01],
       [2.4752963e-01],
       [5.2563196e-01],
       [4.5595348e-01],
       [4.2521912e-01],
       [4.3923801e-01],
       [4.6077582e-01],
       [4.1220489e-01],
       [1.2546728e-06],
       [1.4626719e-01],
       [2.1310210e-01],
       [4.6845329e-01],
       [5.9239960e-01],
       [4.4362165e-02],
       [2.2148573e-01],
       [3.4348813e-01],
       [4.2521912e-01],
       [4.1667244e-01],
       [4.2521912e-01],
       [4.2521912e-01],
       [2.9389912e-01],
       [4.2521912e-01],
       [2.6461664e-01],
       [4.2521912e-01],
       [2.8878161e-01],
       [4.5472798e-01],
       [4.1121304e-01],
       [1.8736558e-01],
       [4.2521912e-01],
       [2.8281295e-01],
       [4.6298036e-01],
       [5.4268134e-01],
       [2.6153989e-02],
       [4.2521912e-01],
       [3.7898132e-01],
       [3.9103279e-01],
       [1.7647703e-01],
       [1.8385846e-02],
       [5.3914136e-01]], dtype=float32)

## Evaluation

In [32]:
model.evaluate(xtest,ytest)

6/6 [==============================] - 0s 2ms/step - loss: 0.6490 - accuracy: 0.7486

[0.649034321308136, 0.748603343963623]